*{
font-family: 'Mulish', sans-serif;
}
.header{
margin: 135px 50px;
}
.text-gray{
color: #FFF;
/* width: 600px; */
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-side-nav{
    display: flex;
    justify-content: space-between;
}
.nav-img{
    margin-right:20px;
}
.travel{
    color: #FF5400;
}
.left-side-nav img{
 width: 48px;
/* height: 56.008px; */
}
.nav-right > ul {
    display: flex;
}
.nav-right li {
    margin-left: 44px;
    list-style: none;
}
.nav-right li a{
    text-decoration: none;
}
.desh-travel{
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-weight: 800;;
}
.explore{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
}
.banner{
    width: 1170px;
height: 500px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    text-align: center;
}
.banner-btn{
   
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}
.orng{
    border-radius: 8px;
    background: #FF5400;
}